@import "tailwindcss";

@theme {
  --default-font-family: "Parkinsans", "sans-serif";
  --color-primary: #0D7A48;
  --color-header: #EBFFF6;
  --color-input-border: #949494;
  --shadow-card: 0 0 25px rgba(0, 0, 0, 0.08);
}

@layer base {
  :root {
    color: #222222;
  }
}